<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poetry.mapper.PoemUserMapper">
  <resultMap id="BaseResultMap" type="com.poetry.entity.PoemUser">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
    <result column="AVATAR_URL" jdbcType="VARCHAR" property="avatarUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, OPEN_ID, NICK_NAME, AVATAR_URL
  </sql>

  <!--根据openid查询-->
  <select id="selectByOpenId" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(ID) from poem_user where OPEN_ID=#{openId}
  </select>

  <!--根据openid查询-->
  <select id="selectInfoByOpenId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from poem_user where OPEN_ID=#{openId}
  </select>

  <!--根据openid查看头像-->
  <select id="getUserAvatarByOpenId" parameterType="java.lang.String" resultType="java.lang.String">
    select AVATAR_URL from poem_user where OPEN_ID=#{openId}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from poem_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from poem_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.poetry.entity.PoemUser">
    insert into poem_user (ID, OPEN_ID, NICK_NAME, 
      AVATAR_URL)
    values (#{id,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{avatarUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.poetry.entity.PoemUser">
    insert into poem_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="openId != null">
        OPEN_ID,
      </if>
      <if test="nickName != null">
        NICK_NAME,
      </if>
      <if test="avatarUrl != null">
        AVATAR_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.poetry.entity.PoemUser">
    update poem_user
    <set>
      <if test="openId != null">
        OPEN_ID = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null">
        AVATAR_URL = #{avatarUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.poetry.entity.PoemUser">
    update poem_user
    set OPEN_ID = #{openId,jdbcType=VARCHAR},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      AVATAR_URL = #{avatarUrl,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>